.header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 2px black;
    z-index: 1;
    &__title {
        padding-left: 30px;
        font-size: 30px;
        letter-spacing: 1px;
    }
    &__bars {
        padding-right: 30px;
    }
    &__icon {
        height: 30px;
        width: 30px;
    }
}
