.main-page {
    position: relative;
    height: calc(100vh - 50px);
    background-image: url(../img/paper-flower-main-page_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    // Dekoracyjny styl
    font-family: "Alex Brush", cursive;
    text-align: center;
    text-shadow: 0 0 3px 2px black;
    box-shadow: inset 0 0 10px #888;

    &__text-box {
        width: 100vw;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__title,
    &__text {
        letter-spacing: 1px;
        padding: 0 15px;
    }
    &__title {
        &-her-name {
            display: inline;
            font-size: 36px;
        }
        &-separator {
            text-align: center;
            padding: 0 10px;
            font-size: 28px;
        }
        &-his-name {
            display: inline;
            font-size: 36px;
        }
    }
    &__text {
        font-size: 20px;
    }
    &__img {
        font-size: 38px;
        filter: invert(1);
        &--top {
            margin-bottom: 15px;
        }
        &--bottom {
            margin-top: 15px;
        }
    }
}
