.map {
    padding: 15px;

    &__title,
    &__subtitle {
        font-family: "Poppins", sans-serif;
        padding: 5px;
        text-align: center;
    }
    &__title {
        margin-top: 30px;
        font-size: 18px;
    }
    &__subtitle {
        font-size: 16px;
    }

    &__address {
        font-size: 14px;
        padding: 10px 5px;
        text-align: center;
        margin-bottom: 10px;
    }
    &__item {
        margin: 0 auto;
        max-width: 1024px;
    }
    &__google {
        box-shadow: 0 0 10px #888;
        margin: 0 auto;
        width: 100%;
        min-height: 300px;
    }
}
